
prueba icono
<svg class="bi" width="32" height="32" fill="currentColor">
  <use xlink:href="../../node_modules/bootstrap-icons/bootstrap-icons.svg#heart-fill"/>
</svg>

<svg class="bi" width="32" height="32" fill="currentColor">
  <use xlink:href="../../node_modules/bootstrap-icons/bootstrap-icons.svg#briefcase"/>
</svg>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Joseba Madrigal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/cv" routerLinkActive="active">{{ 'nav.cv' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/briefcase" routerLinkActive="active">{{ 'nav.briefcase' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recommendation-letters" routerLinkActive="active">{{ 'nav.recommendation-letters' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">{{ 'nav.contact' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">{{ 'nav.print' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<header>




  <menu>
    <ul>


      <ul class="right">
        <li class="flag" (click)="switchLang('en')"><img src="assets/images/flags/en.png"></li>
        <li class="flag" (click)="switchLang('es')"><img src="assets/images/flags/es.png"></li>
        <li class="flag" (click)="switchLang('eus')"><img src="assets/images/flags/eus.png"></li>
      </ul>
    </ul>
  </menu>
</header>

<router-outlet class="container"></router-outlet>
