<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">

    <div [style.background-image]="'url(' + cv.userPicture + ')'"
         class="rounded-circle photo">
    </div>

    <a class="navbar-brand" href="#">
      {{ cv.profile.personalInformation.firstName }}
      {{' ' + cv.profile.personalInformation.lastName }}
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLink="/cv" routerLinkActive="active">
          <i-feather name="camera"></i-feather>
          <div class="nav-link">{{ 'nav.cv' | translate }}</div>
        </li>
        <li class="nav-item" routerLink="/briefcase" routerLinkActive="active">
          <i-feather name="briefcase"></i-feather>
          <div class="nav-link">{{ 'nav.briefcase' | translate }}</div>
        </li>
        <li class="nav-item" routerLink="/letters" routerLinkActive="active">
          <i-feather name="thumbs-up"></i-feather>
          <div class="nav-link">{{ 'nav.recommendation-letters' | translate }}</div>
        </li>
        <!--
        <li class="nav-item">
          <i-feather name="mail"></i-feather>
          <div class="nav-link">{{ 'nav.contact' | translate }}</div>
        </li>
        -->
      </ul>
      <ul class="d-flex nav navbar-nav flags">

          <li class="flag" (click)="switchLang('en')"><img src="assets/images/flags/en.png"></li>
          <li class="flag" (click)="switchLang('es')"><img src="assets/images/flags/es.png"></li>
          <li class="flag" (click)="switchLang('eus')"><img src="assets/images/flags/eus.png"></li>

      </ul>
    </div>
  </div>
</nav>
