<div class="card">
  <!--<a class="image-link" [href]="'assets/images/screenshots/ori/' + project.image">-->
    <img [src]="'assets/images/screenshots/' + project.image" class="card-img-top" [alt]="project.title">
  <!--</a>-->
  <div class="card-body">
    <h4 class="card-title">{{project.title}}</h4>
    <p *ngIf="project.desc" class="card-text">{{project.desc}}</p>
    <app-tecnologies [tecnologies]="project.tech"></app-tecnologies>
    <a *ngIf="project.web" [href]="project.web" class="btn btn-primary">{{project.web}}</a>
  </div>
</div>


<!--
<a class="image-link" [href]="'assets/images/screenshots/ori/' + project.image">
  <img class="muestra img-responsive" [src]="'assets/images/screenshots/' + project.image">
</a>
<div>
  <a [href]="project.url">{{project.url}}</a>
</div>
<div *ngIf="project.desc">{{project.desc}}</div>

-->

